.Inicioo{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.023), rgb(0, 0, 0));
    mask-size: 100% 100%;
    filter: grayscale(20%); /* Ajuste o valor conforme necessário */
}

.Inicioo2{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74));
    mask-size: 100% 100%;
    position: absolute;
    left: 40%; /* Ajuste esse valor para posicionar a imagem mais ou menos à direita */
    filter: grayscale(30%); /* Ajuste o valor conforme necessário */
}

.Inicioo3{
    position: absolute;
    top: 25%;
    left: 1%;
    opacity: 80%;
}

.Inicioo4{
    opacity: 80%;
}

/* Estilo do Modal */
.modal9 {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica em cima de outros elementos */
    width: 0 auto; /* Largura total */
    height: 100%; /* Altura total */
}

.modalp{
    font-size: 24px;
    color: black;
}

.modal-content9 {
    background: linear-gradient(to right, rgb(89, 0, 255), rgb(255, 0, 221));
    background-color: #fefefe;
    margin: 15% auto; /* Margem centralizada */
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%; /* Largura do modal */
}

.close9 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close9:hover,
.close9:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}


.porteu{
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.296), rgb(0, 0, 0));
    mask-size: 100% 100%;
}